.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem 3rem;
  background-color: #32ce9f; 
  box-shadow: 0 4px 12px rgba(52, 134, 36, 0.5);
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 16px;
}